body{
  background-image: url("https://www.walldevil.com/wallpapers/a85/wallpaper-minimalist-desktop-wallpapers-minimalistic.jpg");
  background-size: cover;
  color: #C9C5BA;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn1 {
  color: #0A231C;
  background-color: #C9C5BA;
  font-size: 16px;
}

.btn1:not([disabled]):hover {
  background-color: #78826E;
  color: #0A231C;
}

.btn1[disabled] {
  color: rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}
