<h1>Hello {{vm.greeting}}</h1>

<div class="buttons">
  <button ng-click="vm.clickShow('hours')" class="btn1"> Hour.ly </button><br>
  <button ng-click="vm.clickShow('days')" class="btn1"> Dai.ly </button><br>
  <button ng-click="vm.clickShow('weeks')" class="btn1"> Week.ly </button><br>
  <button ng-click="vm.clickShow('months')" class="btn1"> Month.ly </button><br>
  <button ng-click="vm.clickShow('years')" class="btn1"> Year.ly </button><br>
</div>
<br>
<form ng-show="vm.showHours" ng-submit="vm.create()" class="Hours" >
  Description: <input type="text" name="name" placeholder="Enter a goal..."><br>
  Completion Date: <input type="date" name="name" placeholder=""><br>
  Checkpoints: <input type="number" name="name" placeholder="0" min="0" max="10"><br>
  <input type="submit" name="name" value="Submit">
</form>
<p ng-show="vm.showDays">Days</p>
<p ng-show="vm.showWeeks">Weeks</p>
<p ng-show="vm.showMonths">Months</p>
<p ng-show="vm.showYears">Years</p>
